<!DOCTYPE html>{% load compress %}
<html lang="{{ language }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Security issues of organizations in {{ country }} displayed a map">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, user-scalable=yes, minimal-ui">
    <meta name="theme-color" content="Cyber"/>

    {% if config.PROJECT_NAME  %}
        <title>{{ config.PROJECT_NAME }}
        {% if config.PROJECT_TAGLINE %}
            - {{ config.PROJECT_TAGLINE }}
            {% endif %}
        </title>
    {% endif %}

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" type="image/png" href="/static/favicons/favicon.ico"/>
    <link rel="apple-touch-icon" href="/static//static/favicons/apple-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicons/ms-icon-144x144.png">

    <!-- This stylesheet is changed on the fly using themes. -->
    <link rel="stylesheet" type="text/css" id="active_theme" href="/static/css/vendor/bootstrap.min.css"/>
    <!-- Allow various color schemes -->
    <link id="colorscheme" href="/static//css/colors.trafficlight.css" rel="stylesheet" />

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="/static/js/vendor/node_modules/leaflet/dist/leaflet.css"/>
        <link rel="stylesheet" type="text/css" href="/static/js/vendor/node_modules/leaflet.markercluster/dist/MarkerCluster.css">
        <link rel="stylesheet" type="text/css" href="/static/js/vendor/node_modules/vue-select/dist/vue-select.css">
        <link rel="stylesheet" type="text/css" href="/static/js/vendor/node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css">
        <link rel="stylesheet" type="text/css" href="/static/js/vendor/node_modules/leaflet-contextmenu/dist/leaflet.contextmenu.css">

        <link rel="stylesheet" type="text/css" href="/static/css/vendor/fa-svg-with-js.css">
        <link rel="stylesheet" type="text/css" href="/static/css/overrides.css">
    {% endcompress %}

    {% if debug %}
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vuex/dist/vuex.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue-select/dist/vue-select.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet/dist/leaflet.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet-contextmenu/dist/leaflet.contextmenu.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/lazyload/lazyload.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/moment/min/moment-with-locales.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/chart.js/dist/Chart.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue-i18n/dist/vue-i18n.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue2-leaflet/dist/vue2-leaflet.min.js"></script>

        <script type="text/javascript" src="/static/js/vendor/raven.min.vue.3.19.1.js"></script>
    {% else %}{% compress js %}
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue/dist/vue.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vuex/dist/vuex.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue-select/dist/vue-select.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet/dist/leaflet.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet-contextmenu/dist/leaflet.contextmenu.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/lazyload/lazyload.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/moment/min/moment-with-locales.min.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/chart.js/dist/Chart.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue-i18n/dist/vue-i18n.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/node_modules/vue2-leaflet/dist/vue2-leaflet.min.js"></script>

        <script type="text/javascript" src="/static/js/vendor/raven.min.vue.3.19.1.js"></script>
    {% endcompress %}{% endif %}

    <script type="text/javascript" src="/static/js/translations/websecmap.js"></script>

    <script>
        // Registry Sentry for error reporting
        {% if sentry_token %}
            Raven.config('{{ sentry_token }}', {release: '{{ version }}'}).install();
        {%  endif %}

        // support for week numbers in javascript
        // https://stackoverflow.com/questions/7765767/show-week-number-with-javascript
        Date.prototype.getWeek = function () {
            let onejan = new Date(this.getFullYear(), 0, 1);
            return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
        };

        // support for an intuitive timestamp in weeks...
        Date.prototype.humanTimeStamp = function () {
            return this.getFullYear() + " " + i18n.t("week") + " " + this.getWeek();
        };

        const new_state_mixin_ = {
            // new state mixin that is pure functional, and does not depend on html elements
            // todo: move this to vuex(!)
            data: {
                state: {
                    // this is now inserted by django on the first load. We want to do this via url parameters too in the future.
                    'country': "{{ default_country }}",
                    'layer': "{{ default_layer }}",
                    'week': {{ default_week }},
                },
            },

            // watchers have implicit behaviour: if code is depending on two variables, setting each one seperately
            // causes wathchers to execute the code twice. Therefore the watcher has been replaced by a function.

            methods: {

                set_state: function(country, layer, week=0) {
                    // important:
                    // Accessing or manipulating individual fields (in vue js editor etc) does not have effect,
                    // you need to update the entire state in one operation. Otherwise you'll see no effect of your change.
                    // this is on purpose, to prevent load events for small changes.
                    this.state = {'country': country, 'layer': layer, 'week': week};
               }
            },
            getters: {
                status: state => state.status,
            },
        };

        const new_state_mixin = {
            computed: {
                state: function(){
                    return {country: store.state.country, layer: store.state.layer, week: store.state.week}
                },
                reported_organization: () => {
                    return store.state.reported_organization;
                },
                layers: () => {
                    return store.state.layers;
                },
                organizations: () => {
                    return store.state.organizations;
                }
            },
            watch: {
                state: function() {
                    this.load();
                }
            }
        };

        Vue.use(Vuex);

        const store = new Vuex.Store({
            state: {
                country: "{{ default_country }}",
                layer: "{{ default_layer }}",
                week: {{ default_week }},
                reported_organization: {id: null, name: null},
                // layers is filled by mapstatebar, and is used for export, or wherever...
                layers: [],

                // organizations, a list of all organizations on the map including some metatadata.
                // this is useful for select boxes and such. The charts might also be populated from this data...
                organizations: [],
            },

            mutations: {
                // https://stackoverflow.com/questions/47239694/vuex-how-mutate-multiple-properties-in-store-like-in-redux#47240340
                // this.$store.commit('change', {country: 'NL', layer: 'municipality'})
                change (state, payload) {
                  state = Object.assign(state, payload)
                },
                organization (state, payload) {
                  state = Object.assign(state, payload)
                },
            },
        });

        let app = null;

        let document_ready = function() {

            document.app = new Vue({
                i18n,
                store,

                // vuex state sharing:
                // store,

                el: '#app',
                name: 'app',
                mixins: [new_state_mixin],

                data: {

                // this converts the django state (constance) values to javascript.
                // available from app only, and distributed sparsingly on need to know basis to prevent a web of things.
                    // todo: refactor, each variable read is a single query(!) i mean... can we do it all in once?
                    config: {
                        show: {
                            intro: {{ config.SHOW_INTRO | lower }},
                            charts: {{ config.SHOW_CHARTS | lower }},
                            comply_or_explain: {{ config.SHOW_COMPLY_OR_EXPLAIN | lower }},
                            scan_schedule :{{ config.SHOW_SCAN_SCHEDULE | lower }},
                            datasets: {{ config.SHOW_DATASETS | lower }},
                            announcement: {{ config.SHOW_ANNOUNCEMENT | lower }},
                            statistics: {{ config.SHOW_EXTENSIVE_STATISTICS | lower }},
                            numbers: {{ config.SHOW_STATS_NUMBERS | lower }},
                            improvements: {{ config.SHOW_STATS_IMPROVEMENTS | lower }},
                            graphs: {{ config.SHOW_STATS_GRAPHS | lower }},
                            changes: {{ config.SHOW_STATS_CHANGES | lower }},
                            ticker: {{ config.SHOW_TICKER | lower }},
                            services: {{ config.SHOW_SERVICES | lower }},
                            issues: {
                                ftp: {{ config.SHOW_FTP | lower }},
                                plain_https: {{ config.SHOW_PLAIN_HTTPS | lower }},
                                dnssec: {{ config.SHOW_DNSSEC | lower }},
                                http_security_header_strict_transport_security: {{ config.SHOW_HTTP_SECURITY_HEADER_STRICT_TRANSPORT_SECURITY| lower }},
                                http_security_header_x_content_type_options: {{ config.SHOW_HTTP_SECURITY_HEADER_X_CONTENT_TYPE_OPTIONS| lower }},
                                http_security_header_x_frame_options: {{ config.SHOW_HTTP_SECURITY_HEADER_X_FRAME_OPTIONS| lower }},
                                http_security_header_x_xss_protection: {{ config.SHOW_HTTP_SECURITY_HEADER_X_XSS_PROTECTION| lower }},
                                tls_qualys_certificate_trusted: {{ config.SHOW_TLS_QUALYS_CERTIFICATE_TRUSTED| lower }},
                                tls_qualys_encryption_quality: {{ config.SHOW_TLS_QUALYS_ENCRYPTION_QUALITY| lower }},
                                internet_nl_mail_starttls_tls_available: {{ config.SHOW_INTERNET_NL_MAIL_STARTTLS_TLS_AVAILABLE| lower }},
                                internet_nl_mail_auth_spf_exist: {{ config.SHOW_INTERNET_NL_MAIL_AUTH_SPF_EXIST| lower }},
                                internet_nl_mail_auth_dkim_exist: {{ config.SHOW_INTERNET_NL_MAIL_AUTH_DKIM_EXIST| lower }},
                                internet_nl_mail_auth_dmarc_exist: {{ config.SHOW_INTERNET_NL_MAIL_AUTH_DMARC_EXIST| lower }},
                            },
                        },
                        responsible_organization: {
                            name: "{{ config.RESPONSIBLE_ORGANIZATION_NAME}}",
                            promo_text: "{{ config.RESPONSIBLE_ORGANIZATION_PROMO_TEXT}}",
                            website: "{{ config.RESPONSIBLE_ORGANIZATION_WEBSITE}}",
                            mail: "{{ config.RESPONSIBLE_ORGANIZATION_MAIL}}",
                            twitter: "{{ config.RESPONSIBLE_ORGANIZATION_TWITTER}}",
                            facebook: "{{ config.RESPONSIBLE_ORGANIZATION_FACEBOOK}}",
                            linkedin: "{{ config.RESPONSIBLE_ORGANIZATION_LINKEDIN}}",
                            whatsapp: "{{ config.RESPONSIBLE_ORGANIZATION_WHATSAPP}}",
                            phone: "{{ config.RESPONSIBLE_ORGANIZATION_PHONE}}",

                        },
                        project: {
                            name: "{{ config.PROJECT_NAME }}",
                            tagline: "{{ config.PROJECT_TAGLINE }}",
                            country: "{{ config.PROJECT_COUNTRY }}",
                            mail: "{{ config.PROJECT_MAIL }}",
                            issue_mail: "{{ config.PROJECT_ISSUE_MAIL }}",
                            twitter: "{{ config.PROJECT_TWITTER }}",
                            facebook: "{{ config.PROJECT_FACEBOOK }}",
                        },
                        comply_or_explain: {
                            forum_link: "{{ config.COMPLY_OR_EXPLAIN_DISCUSSION_FORUM_LINK }}",
                            email_address: "{{ config.COMPLY_OR_EXPLAIN_EMAIL_ADDRESS }}",
                        },

                        debug: {{ debug | lower }},
                        admin: {{ admin | lower }},

                        mapbox_token: '{{ config.MAPBOX_ACCESS_TOKEN }}',

                    },

                    // excellent code injection point :)
                    map_configuration: {{ countries_and_layers | safe }},

                    // A reference to leaflet, so we can call leaflet functions.
                    L: L,

                    // These are all issues in websecmap that can be shown in the front end. Randomly ordered:
                    // the labels and explanations are (probably) database translations keys... and cannot be
                    // translated here, but must be translated inline (????) Todo: figure out if this is required
                    // by completing the dutch translation.
                    all_issues: {

                        "DNSSEC": {
                            "name": "DNSSEC",
                            "second opinion links": [{
                                "url": "https://zonemaster.iis.se/",
                                "language": "EN",
                                "provider": "Zonemaster"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/Domain_Name_System_Security_Extensions",
                                "language": "EN",
                                "provider": "Wikipedia",
                            }],
                            "relevant impacts": ["high"],
                            "statistics": {
                                "good": [
                                    {
                                        'label': 'DNSSEC correct', 'explanation': 'DNSSEC seems to be implemented sufficiently.'
                                    }],
                                "medium": [],
                                "bad": [{'label': 'DNSSEC incorrect', 'explanation': 'DNSSEC is incorrectly or not configured (errors found).'}]
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "tls_qualys_certificate_trusted": {
                            "name": "tls_qualys_certificate_trusted",
                            "second opinion links": [{
                                "url": "https://www.ssllabs.com/ssltest/analyze.html?d=${url.url}&hideResults=on&latest",
                                "language": "EN",
                                "provider": "Qualys"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/Transport_Layer_Security",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["high"],
                            "statistics": {
                                "good": [{'label': "Trust", 'explanation': 'Certificate is trusted.'}],
                                "medium": [],
                                "bad": [{'label': "No trust", 'explanation': 'Certificate is not trusted.'}]
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "tls_qualys_encryption_quality": {
                            "name": "tls_qualys_encryption_quality",
                            "second opinion links": [{
                                "url": "https://www.ssllabs.com/ssltest/analyze.html?d=${url.url}&hideResults=on&latest",
                                "language": "EN",
                                "provider": "Qualys"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/Transport_Layer_Security",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["high", "low"],
                            "statistics": {
                                "good": [{'label': "TLS rated A-", 'explanation': 'Good Transport Security, rated A-.'},
                                    {'label': "TLS rated A", 'explanation': 'Good Transport Security, rated A.'},
                                    {'label': "TLS rated A+", 'explanation': 'Perfect Transport Security, rated A+.'}],
                                "medium": [{'label': "TLS rated C", 'explanation': 'Less than optimal Transport Security, rated C.'},
                                {'label': "TLS rated B", 'explanation': 'Less than optimal Transport Security, rated B.'}],
                                "bad": [{'label': "Broken", 'explanation': 'Broken Transport Security, rated F'}]
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "plain_https": {
                            "name": "plain_https",
                            "second opinion links": [{
                                "url": "https://www.ssllabs.com/ssltest/analyze.html?d=${url.url}&hideResults=on&latest",
                                "language": "EN",
                                "provider": "Qualys"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/Transport_Layer_Security",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["high", "medium"],
                            "statistics": {
                                "good": [],
                                "medium": [{'label': "Redirect from unsafe address", 'explanation': 'Redirects to a secure site, while a secure counterpart on the standard port is missing.'}],
                                "bad": [{'label': "Not at all", 'explanation': 'Site does not redirect to secure url, and has nosecure alternative on a standard port.'},
                                {'label': "Not at all", 'explanation': 'Site does not redirect to secure url, and has no secure alternative on a standard port.'}]
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "ftp": {
                            "name": "ftp",
                            "second opinion links": [{
                                "url": "https://ftptest.net/",
                                "language": "EN",
                                "provider": "ftptest.net"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/FTPS",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["high", "medium"],
                            "statistics": {
                                "good": [{'label': "FTP secure", 'explanation': 'FTP Server supports TLS encryption protocol.'}],
                                "medium": [],
                                "bad": [{'label': "FTP insecure", 'explanation': 'FTP Server does not support encrypted transport or has protocol issues.'},
                                {'label': "FTP outdated", 'explanation': 'FTP Server only supports insecure SSL protocol.'}]
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "http_security_header_strict_transport_security": {
                            "name": "http_security_header_strict_transport_security",
                            "second opinion links": [{
                                "url": "https://securityheaders.io/?q=${url.url}",
                                "language": "EN",
                                "provider": "Securityheaders.io"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["high", "medium"],
                            "statistics": {
                                "good": [{'label': "Stats has", 'explanation': 'Strict-Transport-Security header present.'}],
                                "medium": [{'label': "Stats hasn't", 'explanation': 'Missing Strict-Transport-Security header.'}],
                                "bad": []
                            },
                            "category": ['website']
                        },

                        "http_security_header_x_frame_options": {
                            "name": "http_security_header_x_frame_options",
                            "second opinion links": [{
                                "url": "https://securityheaders.io/?q=${url.url}",
                                "language": "EN",
                                "provider": "Securityheaders.io"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/Clickjacking",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["medium"],
                            "statistics": {
                                "good": [{'label': "Stats has", 'explanation': 'X-Frame-Options header present.'}],
                                "medium": [{'label': "Stats hasn't", 'explanation': 'Missing X-Frame-Options header.'}],
                                "bad": []
                            },
                            "category": ['website']
                        },

                        "http_security_header_x_content_type_options": {
                            "name": "http_security_header_x_content_type_options",
                            "second opinion links": [{
                                "url": "https://securityheaders.io/?q=${url.url}",
                                "language": "EN",
                                "provider": "Securityheaders.io"
                            }],
                            "documentation links": [{
                                "url": "https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#xcto",
                                "language": "EN",
                                "provider": "OWASP"
                            }],
                            "relevant impacts": ["low"],
                            "statistics": {
                                "good": [{'label': "Stats has", 'explanation': 'X-Content-Type-Options header present.'}],
                                "medium": [{'label': "Stats hasn't", 'explanation': 'Missing X-Content-Type-Options header.'}],
                                "bad": []
                            },
                            "category": ['website']
                        },

                        "http_security_header_x_xss_protection": {
                            "name": "http_security_header_x_xss_protection",
                            "second opinion links": [{
                                "url": "https://securityheaders.io/?q=${url.url}",
                                "language": "EN",
                                "provider": "Securityheaders.io"
                            }],
                            "documentation links": [{
                                "url": "https://www.owasp.org/index.php/OWASP_Secure_Headers_Project#xxxsp",
                                "language": "EN",
                                "provider": "OWASP"
                            }],
                            "relevant impacts": ["low"],
                            "statistics": {
                                "good": [{'label': "Stats has", 'explanation': 'X-XSS-Protection header present.'}],
                                "medium": [{'label': "Stats hasn't", 'explanation': 'Missing X-XSS-Protection header.'}],
                                "bad": []
                            },
                            "category": ['website']
                        },

                        "internet_nl_mail_starttls_tls_available": {
                            "name": "internet_nl_mail_starttls_tls_available",
                            "second opinion links": [{
                                "url": "https://internet.nl/mail/${url.url}/",
                                "language": "EN",
                                "provider": "Internet.nl"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/Opportunistic_TLS",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["high"],
                            "statistics": {
                                "good": [{'label': "STARTTLS Available", 'explanation': 'STARTTLS Available'},
                                {'label': "Not relevant anymore", 'explanation': 'Not relevant. This address does not receive mail anymore.'}],
                                "medium": [],
                                "bad": [{'label': "STARTTLS Missing", 'explanation': 'STARTTLS Missing'}]
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "internet_nl_mail_auth_spf_exist": {
                            "name": "internet_nl_mail_auth_spf_exist",
                            "second opinion links": [{
                                "url": "https://internet.nl/mail/${url.url}/",
                                "language": "EN",
                                "provider": "Internet.nl"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/Sender_Policy_Framework",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["medium"],
                            "statistics": {
                                "good": [{'label': "SPF Available", 'explanation': 'SPF Available'},
                                {'label': "Not relevant anymore", 'explanation': 'Not relevant. This address does not receive mail anymore.'}],
                                "medium": [{'label': "SPF Missing", 'explanation': 'SPF Missing'}],
                                "bad": []
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "internet_nl_mail_auth_dkim_exist": {
                            "name": "internet_nl_mail_auth_dkim_exist",
                            "second opinion links": [{
                                "url": "https://internet.nl/mail/${url.url}/",
                                "language": "EN",
                                "provider": "Internet.nl"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["medium"],
                            "statistics": {
                                "good": [{'label': "DKIM Available", 'explanation': 'DKIM Available'},
                                {'label': "Not relevant anymore", 'explanation': 'Not relevant. This address does not receive mail anymore.'}],
                                "medium": [{'label': "DKIM Missing", 'explanation': 'DKIM Missing'}],
                                "bad": []
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                        "internet_nl_mail_auth_dmarc_exist": {
                            "name": "internet_nl_mail_auth_dmarc_exist",
                            "second opinion links": [{
                                "url": "https://internet.nl/mail/${url.url}/",
                                "language": "EN",
                                "provider": "Internet.nl"
                            }],
                            "documentation links": [{
                                "url": "https://en.wikipedia.org/wiki/DMARC",
                                "language": "EN",
                                "provider": "Wikipedia"
                            }],
                            "relevant impacts": ["medium"],
                            "statistics": {
                                "good": [{'label': "DMARC Available", 'explanation': 'DMARC Available'},
                                {'label': "Not relevant anymore", 'explanation': 'Not relevant. This address does not receive mail anymore.'}],
                                "medium": [{'label': "DMARC Missing", 'explanation': 'DMARC Missing'}],
                                "bad": []
                            },
                            "category": ['confidentiality', 'integrity']
                        },

                    },

                    available_color_schemes: {
                        trafficlight: "/static/css/colors.trafficlight.css",
                        pink: "/static/css/colors.trafficlight.css",
                        deutranopia: "/static/css/colors.deutranopia.css",
                    },

                    active_color_scheme: "trafficlight",
                    colors_used_for_charts: {
                        'high_background': '#f76a5f',
                        'high_border': '#f70000',
                        'medium_background': '#f7ae58',
                        'medium_border': '#f78900',
                        'low_background': '#f7e561',
                        'low_border': '#f7e400',
                        'good_background': '#9cff94',
                        'good_border': '#30c314',
                        'addresses_background': '#818bff',
                        'addresses_border': '#101fff',
                        'services_background': '#bcbcba',
                        'services_border': '#70706f',
                    },

                    available_themes: {
                        default: {css: "/static/css/vendor/bootstrap.min.css", map_tilelayer: 'light'},
                        darkly: {css: "/static/css/vendor/bootstrap-darkly.min.css", map_tilelayer: 'dark'},
                    },

                    // This is the first data for the map, so no first initial query is needed.
                    // this saves a round trip to the server and shows the map in full completely instantly.
                    initial_map_data: {{ initial_map_data | safe }},

                },


                methods: {
                    // expected by state_mixin
                    load: function(){},

                    // switch themes
                    // http://jsfiddle.net/82AsF/

                    set_theme: function(theme_name) {
                        let possible_themes = Object.keys(this.available_themes);
                        if (!possible_themes.includes(theme_name)) {
                            console.log(`Theme not available. Available schemes are: ${possible_themes}.`)
                        }

                        let theme_link = 'link[href="'+$('link#active_theme').attr('href') + '"]';
                        $(theme_link).attr('href', this.available_themes.theme_name.css);
                    },

                    set_color_scheme: function(scheme_name) {
                        let schemes = Object.keys(this.available_color_schemes);
                        if (!schemes.includes(scheme_name)){
                            console.log(`Color scheme not available. Available schemes are: ${schemes}.`)
                        }
                        this.active_color_scheme = scheme_name;

                        // this overrides the <link id="colorscheme" in the body to point to a new stylesheet.
                        // this change is supported by most browsers and takes some time to process...
                        let colorscheme_link = 'link[href="'+$('link#colorscheme').attr('href') + '"]';
                        $(colorscheme_link).attr('href', `/static/css/colors.${scheme_name}.css`);

                        setTimeout(this.set_graph_colorscheme, 2000);
                        return true;
                    },

                    set_graph_colorscheme: function(){
                        // This is a terrible solution to retrieve the active colors from an 'inkpot' on the body of the page.
                        // The inkpot contains the colors of the currently active CSS file.
                        // It is not possible to obtain these color reference in javascript by querying the CSS file...
                        let charts_high = $('.charts_high');
                        let charts_medium = $('.charts_medium');
                        let charts_low = $('.charts_low');
                        let charts_good = $('.charts_good');
                        let charts_connectivity_internet_adresses = $('.charts_connectivity_internet_adresses');
                        let charts_connectivity_services = $('.charts_connectivity_services');

                        this.colors_used_for_charts = {
                            'high_background': charts_high.css('background-color'),
                            'high_border': charts_high.css('background-color'),
                            'medium_background': charts_medium.css('background-color'),
                            'medium_border': charts_medium.css('background-color'),
                            'low_background': charts_low.css('background-color'),
                            'low_border': charts_low.css('background-color'),
                            'good_background': charts_good.css('background-color'),
                            'good_border': charts_good.css('background-color'),
                            'addresses_background': charts_connectivity_internet_adresses.css('background-color'),
                            'addresses_border': charts_connectivity_internet_adresses.css('background-color'),
                            'services_background': charts_connectivity_services.css('background-color'),
                            'services_border': charts_connectivity_services.css('background-color'),
                        };
                    }
                },

                computed: {
                    // this is the correctly ordered set with issues. in an easy list.
                    issues: function() {
                        if (this.all_issues === undefined)
                            return [];

                        return [
                            this.all_issues['DNSSEC'],
                            this.all_issues["tls_qualys_certificate_trusted"],
                            this.all_issues["tls_qualys_encryption_quality"],
                            this.all_issues["plain_https"],
                            this.all_issues["ftp"],
                            this.all_issues["internet_nl_mail_starttls_tls_available"],
                            this.all_issues["internet_nl_mail_auth_spf_exist"],
                            this.all_issues["internet_nl_mail_auth_dkim_exist"],
                            this.all_issues["internet_nl_mail_auth_dmarc_exist"],
                            this.all_issues["http_security_header_strict_transport_security"],
                            this.all_issues["http_security_header_x_frame_options"],
                            this.all_issues["http_security_header_x_content_type_options"],
                            this.all_issues["http_security_header_x_xss_protection"],
                        ]
                    },

                    // These issues are specific for the URL level, others are on endpoint level.
                    url_issue_names: function() {
                        if (this.all_issues === undefined)
                            return [];

                        return [this.all_issues['DNSSEC']['name']]
                    }
                },

                mounted: function(){
                    console.log("App loaded...");
                },
            });

            lazyload(); // allow for lazy loading of images

            current_language = get_cookie('preferred_language') ? get_cookie('preferred_language') : window.navigator.language;

            // date and time to the current locale, whatever it may be:
            moment.locale(current_language);

            // if browser contains report anchor with organization id load that organization
            let match = RegExp('report-([a-z-]+)').exec(location.hash);
            if (match) {
                let organization_name = match[1];
                location.href = '#report';
                store.commit('change', {reported_organization: {
                    id: null,
                    name: organization_name,
                }});
            }

        };

        const i18n = new VueI18n({
            locale: get_cookie('preferred_language'),
            fallbackLocale: 'en',
            // with component locales, a warning is still given the global locale is used,
            // which is strange. Translations themselves work fine.
            silentFallbackWarn: true,
            // it's required this is called messages.
            messages,
        });

        function set_language(language_code){
            document.cookie = "preferred_language=" + (language_code || "en") + "; path=/";
            location.reload();
        }

        const translation_mixin = {
            methods: {
                translate: function (string) {
                    return i18n.t(string);
                }
            }
        };

        const humanize_mixin = {
            methods: {

                // todo: can we change the locale for moment.js on the fly?
                humanize_date: function (date) {
                    // Uses localized date and time format with day name, which is pretty advanced and complete
                    return moment(date).format('LLLL');
                },
                humanize_date_date_only: function (date) {
                    // Uses localized date and time format with day name, which is pretty advanced and complete
                    return moment(date).format('LL');
                },
                humanize_relative_date: function (date) {
                    // says things like 'days ago'...
                    return moment(date).fromNow();
                },
                humanize_duration: function(duration_in_milliseconds) {
                    return moment.duration(duration_in_milliseconds).humanize()
                },
                humanize_filesize: function(size_in_bytes, decimals=0){
                    if(size_in_bytes === 0) return '0 Bytes';
                    let k = 1024,
                        dm = decimals <= 0 ? 0 : decimals || 2,
                        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                        i = Math.floor(Math.log(size_in_bytes) / Math.log(k));
                    return parseFloat((size_in_bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                }
            }
        };


        {% verbatim %}
            Vue.component('server-response', {
                props: ['response'],
                template: '' +
                    '<div>' +
                    '    <div v-if="response.error" class="server-response-error">\n' +
                    '        <h2>❌ An error occured</h2>\n' +
                    '        {{ response.message }}\n' +
                    '    </div>\n' +
                    '    <div v-if="response.success" class="server-response-success">\n' +
                    '        <h2>✅ Success!</h2>\n' +
                    '        {{ response.message }}\n' +
                    '    </div>' +
                    '</div>',
            });
        {% endverbatim %}

        Vue.component('l-map', window.Vue2Leaflet.LMap);
        Vue.component('l-tile-layer', window.Vue2Leaflet.LTileLayer);
        Vue.component('l-control', window.Vue2Leaflet.LControl);
        Vue.component('l-geo-json', window.Vue2Leaflet.LGeoJson);
        Vue.component('l-control-scale', window.Vue2Leaflet.LControlScale);
        Vue.component('v-select', VueSelect.VueSelect);

        // https://stackoverflow.com/questions/10730362/get-cookie-by-name
        function get_cookie(name) {
            let value = "; " + document.cookie;
            let parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

        const http_mixin = {
            methods: {
                asynchronous_json_post: function(url, data, callback){
                    // the context parameter is somewhat dangerous, but this allows us to say 'self.' in the callback.
                    // which could be done somewhat better.
                    // https://stackoverflow.com/questions/20279484/how-to-access-the-correct-this-inside-a-callback
                    let server_response = {};
                    // console.log(`Posting to ${url}, with data ${data}`)
                    (async () => {
                      const rawResponse = await fetch(url, {
                          method: 'POST',
                          credentials: 'include',
                          headers: {
                              'Accept': 'application/json',
                              'Content-Type': 'application/json',
                              'X-CSRFToken': get_cookie('csrftoken')
                          },
                          body: JSON.stringify(data)
                      });
                      try {
                          // here is your synchronous part.
                          server_response = await rawResponse.json();
                      } catch (e) {
                          // SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data
                          server_response = {'error': true, 'message': 'Server error'}
                      }
                      callback(server_response)
                    })();
                }
            }
        };
    </script>

    {% if config.GITTER_CHAT_ENABLE and config.GITTER_CHAT_CHANNEL %}
        <script>
          ((window.gitter = {}).chat = {}).options = {
            room: '{{ config.GITTER_CHAT_CHANNEL }}'
          };
        </script>
        <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    {% endif %}

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <button style="float:right;" type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('close')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <slot name="header">
                  default header
                </slot>

              </div>

              <div class="modal-body">
                <slot name="body">
                  default body
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  default footer
                  <button class="modal-default-button" @click="$emit('close')">
                    OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <script>
        Vue.component('modal', {
            template: '#modal-template',
            mounted: function() {
                // Emit a close when the escape key is hit.
                document.addEventListener('keyup', (e) => {
                    if (e.keyCode === 27) {
                        this.$emit('close');
                    }
                });

                // focus on the default button for keyboard users.
                // todo: should it be the first input, and how do you do that easily / sanely
                // document.getElementsByClassName('modal-default-button')[0].focus();
            },
        });
    </script>

    <!-- Instead of @import... -->
    {% include "map/static/js/components/authenticated_explain.vue" %}
    {% include "map/static/js/components/graph.vue" %}
    {% include "map/static/js/components/mapstatebar.vue" %}
    {% include "map/static/js/components/changes.vue" %}
    {% include "map/static/js/components/improvements.vue" %}
    {% include "map/static/js/components/report.vue" %}
    {% include "map/static/js/components/report_content.vue" %}
    {% include "map/static/js/components/fullscreenreport.vue" %}
    {% include "map/static/js/components/datasets.vue" %}
    {% include "map/static/js/components/graphs.vue" %}
    {% include "map/static/js/components/combined_number_statistics.vue" %}
    {% include "map/static/js/components/comply_or_explain.vue" %}
    {% include "map/static/js/components/scan_schedule.vue" %}
    {% include "map/static/js/components/charts.vue" %}
    {% include "map/static/js/components/chart.vue" %}
    {% include "map/static/js/components/intro.vue" %}
    {% include "map/static/js/components/websecmap.vue" %}
    {% include "map/static/js/components/footer.vue" %}
    {% include "map/static/js/components/mainmenu.vue" %}
    {% if admin %}
    {% include "map/static/js/components/debugmenu.vue" %}
    {%  endif %}
    {% include "map/static/js/components/ticker.vue" %}


</head>

<body role="document" onload="document_ready();">

<div id="app">

    <template v-if="state.country !== '' && state.layer !== ''">

        <mainmenu :config="config"></mainmenu>
        {% if admin %}
        <debugmenu ref="debugmenu" :config="config" :admin_url="'{% url 'admin:index' %}'" :version="'{{ version }}'"></debugmenu>
        {% endif %}
        <mapstatebar :map_configuration="map_configuration"></mapstatebar>

        <section class="announcement" v-if="config.show.announcement">
           <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <svg class="svg-inline--fa fa-bell fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="bell" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M433.884 366.059C411.634 343.809 384 316.118 384 208c0-79.394-57.831-145.269-133.663-157.83A31.845 31.845 0 0 0 256 32c0-17.673-14.327-32-32-32s-32 14.327-32 32c0 6.75 2.095 13.008 5.663 18.17C121.831 62.731 64 128.606 64 208c0 108.118-27.643 135.809-49.893 158.059C-16.042 396.208 5.325 448 48.048 448H160c0 35.346 28.654 64 64 64s64-28.654 64-64h111.943c42.638 0 64.151-51.731 33.941-81.941zM224 472a8 8 0 0 1 0 16c-22.056 0-40-17.944-40-40h16c0 13.234 10.766 24 24 24z"></path></svg>
                        {{ config.ANNOUNCEMENT|safe }}
                    </div>
                </div>
            </div>
        </section>

        <section>
            <websecmap ref="websecmap" :L="L"
                       :issues="issues"
                       :mapbox_token="config.mapbox_token"
                       :debug="config.debug"
                       :authenticated="config.admin"
                       :initial_map_data="initial_map_data"></websecmap>
        </section>

        <section v-if="config.show.intro">
            <intro :organization="config.responsible_organization.name" :organization_mail="config.project.issue_mail"></intro>
        </section>

        <section v-if="config.show.charts">
           <div class="container">
               <charts></charts>
          </div>
        </section>

        <section id="report">
            <div class="container">
                <report></report>
                <report_content
                    :issues="issues"
                    :url_issue_names="url_issue_names"
                    :color_scheme="colors_used_for_charts"
                    :incorrect_finding_mail="config.project.issue_mail"
                    :show_comply_or_explain="config.show.comply_or_explain"
                    :send_in_email_address="config.project.issue_mail"
                    :authenticated="config.admin"
                    :comply_or_explain_email_address="config.comply_or_explain.email_address">
                </report_content>

                <fullscreenreport
                    :issues="issues"
                    :url_issue_names="url_issue_names"
                    :color_scheme="colors_used_for_charts"
                    :incorrect_finding_mail="config.project.issue_mail"
                    :show_comply_or_explain="config.show.comply_or_explain"
                    :send_in_email_address="config.project.issue_mail"
                    :authenticated="config.admin"
                    :comply_or_explain_email_address="config.comply_or_explain.email_address">
                </fullscreenreport>
            </div>
        </section>

        <section id="extensive_statistics" v-if="config.show.statistics">
            <div class="container">
                <combined_number_statistics v-if="config.show.numbers" :color_scheme="colors_used_for_charts" :issues="issues"  :show_services="config.show.services"></combined_number_statistics>
                <improvements v-if="config.show.improvements" :issues="issues" ></improvements>
                <graphs v-if="config.show.graphs" :issues="issues"  :color_scheme="colors_used_for_charts"></graphs>
                <changes v-if="config.show.changes" :issues="issues" ></changes>
            </div>
        </section>

        <!-- todo: get this to work, it is not tested yet... -->
        <section id="comply_or_explain_info" v-if="config.show.comply_or_explain">
            <div class="container">
                <comply_or_explain ></comply_or_explain>
            </div>
        </section>

        <section id="scan_schedule" v-if="config.show.scan_schedule">
            <div class="container">
                <scan_schedule></scan_schedule>
            </div>
        </section>

        <section id="datasets">
            <div class="container">
                <datasets v-if="config.show.datasets" :show_comply_or_explain="config.show.comply_or_explain"></datasets>
            </div>
        </section>

        <section id="lastrow">
            <div class="container">
                <foot :config="config"></foot>
            </div>
        </section>

        <ticker v-if="config.show.ticker"></ticker>

    </template>
    <template v-if="!state.country || !state.layer">
        <p>Loading app state...</p>
    </template>
</div>

<!-- These elements are added so they can be accessed from a jquery selector. You can't directly access css classes. -->
<div id="inkpot" style="visibility: hidden;">
    <div class="charts_high"></div>
    <div class="charts_medium"></div>
    <div class="charts_low"></div>
    <div class="charts_good"></div>
    <div class="charts_connectivity_internet_adresses"></div>
    <div class="charts_connectivity_services"></div>
</div>



</body>

</html>
<!--
This page was generated with MSPAINT.EXE on {{ timestamp }} in over 9000 seconds, version: {{ version }}.
-->
